
<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->

  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a routerLink="/user">JobBoard</a></div>

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a routerLink="/user">Home</a></li>
            <li><a >My CV</a></li>
            <li><a data-toggle="modal" data-target="#exampleModal">Applied</a></li>
            <li><a routerLink="/user/profile">Profile</a></li>
          </ul>
        </nav>

        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a style="color:#fff;" routerLink="/admin/home" class="btn btn-primary border-width-2 d-none d-lg-inline-block mr-5"><span
            ></span>Management</a>
            <a style="color:#fff;" (click)="logOut()" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
            ></span>Log out</a>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
        </div>

      </div>
    </div>
  </header>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"> Applied</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--      body-->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <ul *ngFor="let p of postList" class="list-unstyled pl-3 mb-0">
              <li class="mb-2"><strong class="text-black">Tittle: {{p.post.title}}</strong></li>
              <hr>
            </ul>
          </div>
        </div>
      </div>
      <!--      body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

