<app-navbar></app-navbar>
<div class="site-wrap">
  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');"
           id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Register </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="next-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <p>Please fill in this form to create an account.</p>

      <!--REGISTER FORM-->
          <form>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="email">Name (*)</label>
                <input type="text" id="name" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="username">Username (*)</label>
                <input type="text" id="username" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="email">Email (*)</label>
                <input type="email" id="email" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="phone">Phone</label>
                <input type="text" id="phone" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="password">Password (*)</label>
                <input type="password" id="password" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="cfpassword">Confirm Password (*)</label>
                <input type="password" id="cfpassword" class="form-control">
              </div>
            </div>

            <p>By creating an account you agree to our <a style="color: darkblue" href="#">Terms & Privacy</a>.</p>
            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Register" class="btn btn-primary btn-md text-white">
              </div>
            </div>
            <p>Already have an account? <a style="color: darkblue" routerLink="/login"> Sign in</a>.</p>
          </form>
          <!--END REGISTER FORM-->

        </div>
      </div>
    </div>
  </section>

</div>


