<app-navbar></app-navbar>
<div class="site-wrap">
  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');"
           id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Log in</h1>
          <h5 class="text-white font-weight-bold">Log in to find your DREAM JOB</h5>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="next-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <p>Please fill in this form to log in.</p>
          <p style="color: darkred">{{status}}</p>

          <!--LOGIN FORM-->
          <form [formGroup]="loginForm"  (ngSubmit)="loginUser()" >
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="email">Email </label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <small *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">Email required.</small>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="password">Password </label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <small *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password required.</small>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Login" class="btn btn-primary btn-md text-white">
              </div>
            </div>
          </form>
          <!--END LOGIN FORM-->

        </div>
      </div>
    </div>
  </section>

</div>



