<section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');"
         id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Edit Post</h1>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p style="color: darkgreen;">{{status}}</p>

        <!--        EDIT FORM-->
        <form [formGroup]="postForm" (ngSubmit)="saveChanges(id)">
          <div class="form-group" readonly hidden>
            <label for="id">Id</label>
            <input formControlName="id" type="text" class="form-control" id="id"
                   placeholder="Java Web Designer">
          </div>
          <div class="form-group">
            <label for="job-title">Job Title (*)</label>
            <input formControlName="title" type="text" class="form-control" id="job-title"
                   placeholder="Java Web Designer">
            <small style="color: darkred" *ngIf="postForm.controls['title'].hasError('required') && postForm.controls['title'].touched">Job Title required.</small>
          </div>

          <div class="form-group">
            <label for="field">Field</label>
            <select formControlName="field" class="form-control" id="field">
              <option *ngFor="let field of fields" [ngValue]="field">{{field.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="location">Location (*)</label>
            <input formControlName="jobLocation" type="text" class="form-control" id="location" placeholder="Hanoi" >
            <small style="color: darkred" *ngIf="postForm.controls['jobLocation'].hasError('required') && postForm.controls['jobLocation'].touched">Job Location required.</small>
          </div>

          <div class="form-group">
            <label for="experience">Experience (*)</label>
            <input formControlName="experience" type="text" class="form-control" id="experience"
                   placeholder="1-2 years" required>
            <small style="color: darkred" *ngIf="postForm.controls['experience'].hasError('required') && postForm.controls['experience'].touched">Job Location required.</small>
          </div>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="minSalary">Salary from (*)</label>
              <input formControlName="minSalary" type="text" id="minSalary" class="form-control" placeholder="$">
              <small *ngIf="postForm.controls['minSalary'].hasError('required') && postForm.controls['minSalary'].touched">Salary
                required.</small>
            </div>
            <div class="col-md-6">
              <label class="text-black" for="maxSalary">To</label>
              <input formControlName="maxSalary" type="text" id="maxSalary" class="form-control" placeholder="$">
              <small *ngIf="postForm.controls['maxSalary'].hasError('required') && postForm.controls['maxSalary'].touched">Salary
                required.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="job-type">Job Type (*)</label>
            <select formControlName="jobType" class="form-control" id="job-type">
              <option value="true">Full time</option>
              <option value="false">Part time</option>
            </select>
          </div>

          <div class="form-group">
            <label for="position">Job Position</label>
            <input formControlName="position" type="text" class="form-control" id="position"
                   placeholder="Fresher/Junior/Senior" required>
            <small *ngIf="postForm.controls['position'].hasError('required') && postForm.controls['position'].touched">Job Position required.</small>
          </div>

          <div class="form-group">
            <label for="job-description">Job Description (*)</label>
            <textarea formControlName="description" rows="5" class="form-control" id="job-description"
                      placeholder="Write job description here" required></textarea>
            <small *ngIf="postForm.controls['description'].hasError('required') && postForm.controls['description'].touched">Description required.</small>
          </div>

          <div class="form-group">
            <label for="vacancy">Vacancy (*)</label>
            <input formControlName="vacancy" type="number" class="form-control" id="vacancy" placeholder="~ people" required>
            <small *ngIf="postForm.controls['vacancy'].hasError('required') && postForm.controls['vacancy'].touched">Vacancy required.</small>
          </div>

          <div class="form-group">
            <label for="gender">Gender </label>
            <select formControlName="gender" class="form-control" id="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Any</option>
            </select>
          </div>

          <div class="form-group">
            <label for="applicationDeadline">Application Deadline (*)</label>
            <input formControlName="applicationDeadline" type="date" class="form-control" id="applicationDeadline" required>
          </div>

          <button type="button" class="btn btn-secondary" routerLink="/company">Close</button> &nbsp;
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

        <!--        END FORM-->
      </div>
    </div>
  </div>
</section>




