<app-navbar></app-navbar>
<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->

  <!--  HOME-->
  <!--  SEARCH AREA-->
  <section class="home-section section-hero overlay bg-image" style="background-image: url('assets/images/hero_1.jpg');"
           id="home-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">{{company?.name}}</h1>
            <p>Company Description: {{company?.description}}</p>
          </div>
        </div>
      </div>
    </div>

    <a href="#next" class="scroll-button smoothscroll">
      <span class=" icon-keyboard_arrow_down"></span>
    </a>

  </section>

  <!--  JOB-LIST AREA-->
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">{{totalElements}} Job Listed</h2>
        </div>
      </div>

      <ul class="job-listings mb-5">
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center" *ngFor="let post of posts">
          <div class="job-listing-logo">
            <img src="{{company?.avatar}}" alt="Free Website Template by Free-Template.co"
                 class="img-fluid">
          </div>
          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <!--              modal-->
              <h2 (click)="getPostDetail(post.id)" data-toggle="modal" data-target="#exampleModal">{{post.title}}</h2>
              <strong>Vacancy: {{post.vacancy}}</strong><br>
              <strong>Experience: {{post.experience}} year</strong><br>
              <strong>Deadline: {{post.applicationDeadline}}</strong>
            </div>
          </div>
          <button type="button" class="btn btn-primary" [routerLink]="['post/edit', post.id]">Edit</button> &nbsp;
          <button *ngIf="post.status" type="button" class="btn btn-danger" (click)="blockPost(post.id, post.status)">Block</button>
          <button style="color:#f1f1f1" *ngIf="!post.status" type="button" class="btn btn-success" (click)="blockPost(post.id, post.status)">Unblock</button>
        </li>
      </ul>
<!--      page-->
      <mat-paginator style="font-size: 15px"
                     [length]="totalElements"
                     [pageSizeOptions]="[5,10,15]"
                     aria-label="Select page"
                     (page)="moveNextPage(id, $event)">
      </mat-paginator>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"> Job Detail</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--      body-->
      <div class="modal-body">
        <div class="col-lg-12">
          <a [routerLink] = "['/company/applyList', postDetail?.id]" class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span> Number of apply: {{users.length}}
          </a>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <figure class="mb-5"><img src="assets/images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded">
            </figure>
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job
              Description</h3>
            <p>{{postDetail?.description}}</p>
          </div>
          <div class="col-lg-12">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job
              Detail</h3>
            <ul class="list-unstyled pl-3 mb-0">
              <li class="mb-2"><strong class="text-black">Job Code: </strong>{{postDetail?.postCode}}</li>
              <li class="mb-2"><strong class="text-black">Field of Activity: </strong>{{postDetail?.field?.name}}</li>
              <li class="mb-2"><strong class="text-black">Vacancy: </strong>{{postDetail?.vacancy}}</li>
              <li class="mb-2"><strong class="text-black">Salary: </strong>{{postDetail?.minSalary}} - {{postDetail?.maxSalary}} $</li>
              <li class="mb-2"><strong class="text-black">Deadline: </strong>{{postDetail?.applicationDeadline}}</li>
              <li class="mb-2"><strong class="text-black">Location: </strong>{{postDetail?.jobLocation}}</li>
            </ul>
          </div>
          <div class="col-lg-12">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Share
            </h3>
            <div class="px-3">
              <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
              <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
              <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
              <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--      body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





